:root {
  --main-font: "Rubik", "Arial", sans-serif;
  --main-font-color: #242A45;
  --main-font-opacity: rgba(36, 42, 69, 0.5);
  --main-accent-color: #5267DF;
  --main-danger-color: #FA5959;
  --main-light-color: #fff;
  --main-grey-color: #9194A2;
  --main-border-radius: 5px;
  --main-box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  --main-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease, opacity 0.3s ease;

}


@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* VISAULLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
  height: 100%;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  background-color: var(--main-light-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

}

.container {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

}


/* SITE__HEADER */

.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
}

.site-header__container {
  display: flex;
  align-items: center;
}

/* LOGO */

.logo {
  margin-right: auto;
  transition: var(--main-transition);
}
.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.6;
}

.logo__img {
  display: block;
}


/* NAVIGATION */

.sitenav {
  display: flex;
  align-items: center;
}

.sitenav__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.sitenav__item{
  margin-right: 45px;
}

.sitenav__link {
  color: var(--main-font-color);
  display: inline-block;
  font-family: var(--main-font);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: var(--main-transition);
}

.sitenav__link:hover{
  color: var(--main-danger-color);
}

.sitenav__link:active{
  opacity: 0.6;
}


.button {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: var(--main-border-radius);
  border : 2px solid transparent;
  transition: var(--main-transition);
}

.button--login {
  padding: 12px 32px;
  letter-spacing: 1.5px;

}

.button--block{
  display: block;
}

.button--login--active{
   background-color: var(--main-danger-color);
   color: var(--main-light-color);
   background-color: var(--main-danger-color);
   transition: var(--main-transition);
}

.button--login--active:hover{
  background-color: (var(--main-light-color));
  color: var(--main-danger-color);
  border-color: var(--main-danger-color);
}

.button--login--active:active{
  background-color: var(--main-danger-color);
  color: var(--main-light-color);
  background-color: var(--main-danger-color);
  transition: var(--main-transition);
  opacity: 0.6;
}



/* HERO */

.hero{
  padding-top: 130px;
  padding-bottom: 225px;
  background-color: var(--main-light-color);
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: left calc(50% + 540px) top calc(40px);
  background-size: 1154px 485px;
}

.hero__header{
  width: 540px;

}

.hero__heading{
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: var(--main-font-color);
}

.section-info{
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #242A45;
  opacity: 0.5;
}


.hero__info{
  margin-bottom: 32px;
}

.hero__link{
  padding: 10px 24px;
  box-shadow: var(--main-box-shadow);
}

.hero__link:not(:last-child){
  margin-right: 16px;
}

.button--blue{
  color: var(--main-light-color);
  background-color: var(--main-accent-color);
  border-color: var(--main-accent-color);
}

.button--blue:hover{
  background-color: var(--main-light-color);
  color: var(--main-accent-color);
}

.button--grey{
  color: rgba(36, 42, 69, 0.75);
  background-color: #f7f7f7;
}


.button--grey:hover{
  border-color: rgba(36, 42, 69, 0.75);

}

/* FEATURES */
.features{
  background-image: url("../img/feature-bg.png");
  background-position: calc(50% - 500px )  calc(100% - 50px);
  background-size: 1065px 435px;
  background-repeat: no-repeat;
  padding: 50px;
  padding-bottom: 50px;

}
.features__header{
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.features__heading{
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  color: var(--main-font-color);
}

.features__info{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--main-font-color);
  opacity: 0.5;
}


.features__list{
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 730px;
  list-style: none;
  border-bottom: 1px solid rgba(73, 93, 207, 0.20012);

}

.featues__item{
  padding: 27px 45px;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.5px;
  color: var(--main-font-color);
  opacity: 0.75;
}

.features__item--active{
  border-bottom: 4px solid var(--main-danger-color);
}

.features__box{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 445px;
  margin-top: 130px;
  margin-bottom: 130px;
}

.features__button-more {
  display: inline-block;
  color: var(--main-light-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #FFFFFF;

}

.button--more-info {
  background-color: var(--main-accent-color);
  padding: 10px 24px;
  border: 2px solid var(--main-accent-color);
  box-shadow: var(--main-box-shadow);
}

.button--more-info:hover {
  background-color: var(--main-light-color);
  color: var(--main-accent-color);
}







/* EXTENSION */
.extensions__header{
  margin-bottom: 48px;
  width: 540px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.extensions__list {
  padding: 0;
  margin: 0;
  margin-bottom: 120px;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: -37px;
}


.extensions__item:nth-child(3n + 2){
  margin-top: 50px;
}

.extensions__item:nth-child(3n + 3) {
  margin-top: 100px;
}


.extensions__item {
  margin-left: 37px;
  width: 280px;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
  border-radius: 15px;
  margin-bottom: -50px;
}

.extension{
  text-align: center;
}

 .extension__top {
  padding: 180px 24px 32px;
  background-repeat: no-repeat;
  background-size: auto 100px;
  background-position: center 48px;

}

.extension--chrome .extension__top {
  background-image: url("../img/icon-chrome.svg");
}

.extension--firefox .extension__top{
  background-image: url("../img/icon-firefox.svg");
}

.extension--opera .extension__top{
  background-image: url("../img/icon-opera.svg");
}

.extension__top {
  padding: 24px;
  padding-top: 180px;
  text-align: center;
}

.extension__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #242A45;
}

.extension__info {
  font-size: 15px;
  line-height: 28px;
  color: #242A45;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.extension__bottom::before{
  content: '';
  background-image: url("../img/dotted.png");
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
  margin-bottom: 20px;
}

.extension__bottom {
  padding: 24px;
  text-align: center;
}

.button--extension{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--main-accent-color);
  color: var(--main-light-color);
}

.button--extension:hover{
  background-color: var(--main-light-color);
  border-color: var(--main-accent-color);
  color: var(--main-accent-color);
}

/* ACTIVE USERS SECTION */

.active-users{
  padding-top: 58px;
  padding-bottom: 74px;
  background-color: var(--main-accent-color);
}

.active-users__top{
  margin-left: auto;
  margin-right: auto;
  width: 442px;
  color: var(--main-light-color);
  text-align: center;

}

.active-users__number{
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 5px;

}
.active-users__main{
  width: 442px;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-light-color);
}

.active-users__heading{
  width: 408px;
  margin-top: 0;
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.1px;
  text-align: center;
}


.active-users__form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-users__input-wrapper {
  position: relative;
  width: 300px;
  height: 100%;
  /* padding: 1px; */
  /* border: 2px solid #fff; */
  background-color: #fff;
  border-radius: 5px;
}

.input {

  position: relative;
  border: none;
  padding: 15px 20px;
  margin-left: 2px;
  /* align-self: center; */
  z-index: 10;
  width: 98%;
  border-radius: var(--main-border-radius);
  font-size: 13px;

}



.input::placeholder{
  color: #9194A2;
  font-size: 13px;
}


.input__error-box {
  border-radius: 5px;
  position: absolute;
  display: none;
  top: -2px;
  left: 0;
  z-index: 5;
  padding-top: 43px;
  padding-left: 12px;
  width: 100%;
  height: 70px;
  background-color: var(--main-danger-color);

}

.input__error-box span{
    font-style: italic;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: .25px;
    color: #fff;

}


.input:not(:placeholder-shown):not(:focus):invalid {
  background-image: url("../img/danger.svg");
  background-repeat: no-repeat;
  background-position: right calc(14px) center;
}
.input:focus{
  outline: none;
}
.input:not(:placeholder-shown):not(:focus):invalid+.input__error-box{
  display: block;
  /* position: absolute; */
}







.button--danger{
  margin-left: 16px;
  white-space: nowrap;
  padding: 10px 24px;
  background-color: var(--main-danger-color);
  color: var(--main-light-color);
  border:2px solid var(--main-danger-color);
}


.button--danger--active:hover{
  background-color: #fff;
  border-color: var(--main-danger-color);
  color: var(--main-danger-color);
}

.button--danger--active:active{
  opacity: 0.6;
  background-color: var(--main-danger-color);
  color: var(--main-light-color);
}

/* FAQ */

.faq{
  padding-top: 150px;
  padding-bottom: 150px;
}

.faq__desc{
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.faq__heading{
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  color: var(--main-font-color);
}

.faq__info{
  width: 540px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #242A45;
  opacity: 0.5;
}




.faq__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
}

.faq__item {
  width: 100%;
  border-top: 1px solid rgba(36, 42, 69, 0.15);
}

.qa {}

.qa__header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.qa__question {
  margin-right: auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.qa__togler{
  border:none;
  padding-right: 20px;
  background-color: transparent;
  background-image: url("../img/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
}

.qa__togler::before{
  position: absolute;
  z-index: 1;
  /* background-color: red; */

  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.qa__answer {
  display: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  color: #242A45;
  letter-spacing: 0.15px;
  mix-blend-mode: normal;
  opacity: 0.75;
}


.qa__header-text {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #242A45;
  opacity: 0.75;
}

.qa--active .qa__answer{
  display: block;
}



.qa--active .qa__togler{
   background-image: url("../img/up-arrow.svg");

}

.faq__footer{
  margin: 54px;
  text-align: center;

}

.faq__button-more{
  display: inline-block;
  color: var(--main-light-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #FFFFFF;

}

.button--more-info{
  background-color: var(--main-accent-color);
  padding: 10px 24px;
  border: 2px solid var(--main-accent-color);
  box-shadow: var(--main-box-shadow);
}

.button--more-info:hover{
  background-color: var(--main-light-color);
  color: var(--main-accent-color);
}

/* FOOOTER */
.footer {
  background-color: var(--main-font-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer__container {
  display: flex;
}

.footer__left {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer__logo{
  margin-right: 65px;
}

.logo-img{
  display: block;
}

.footer__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}



.footer__item:not(:last-child) {
  margin-right: 46px;
}

.footer__link {
  color: var(--main-light-color);
  display: inline-block;
  text-decoration: none;
  transition: var(--main-transition);
  font-size: 13px;
  line-height: 17px;
}

.footer__link:hover{
  color: var(--main-danger-color);
}

.footer__link:active{
  color: var(--main-danger-color);
  opacity: 0.6;
}

.footer__right {
  margin-left: auto;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.social-network__link{
  display: inline-flex;
  align-items: center;
}

.social-network__link svg:hover{
  fill: var(--main-danger-color);
}

.social-network__link svg:active{
  fill: var(--main-danger-color);
  opacity: 0.6;
}

.social-network__link svg {
  fill: var(--main-light-color);
  transition: fill 0.3s ease, opacity 0.3s ease;
}

.footer__social-item:not(:last-child) {
  margin-right: 40px;
}

.social-network {}













/* REPEATED STYLE */
.section__heading{
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.section__info{
  font-size: 18px;
  line-height: 28px;
  color: var(--main-font-color);
  opacity: 0.5;
}

